*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI', sans-serif;
}

body{
    background:linear-gradient(135deg,#ffebd1,#ffe3be);
    color:#222;
}

header{
    background:linear-gradient(90deg,#EADBC8,#EADBC8);
    padding:20px 30px;
    color:#222;
    box-shadow:0 4px 15px rgba(0,0,0,0.15);

}

.menu{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo{
    text-decoration:none;
    color:white;
    font-weight:bold;
    font-size:20px;
}

.menu-list{
    list-style:none;
    display:flex;
    gap:20px;
}

.menu-link{
    text-decoration:none;
    color:white;
    padding:6px 10px;
    border-radius:6px;
    transition:.3s;
}

.menu-link:hover{
    background:rgba(255,255,255,0.2);
}

.container{
    max-width:1000px;
    margin:30px auto;
    padding:20px;
}

.schedule-image{
    display:block;
    margin:0 auto 25px;
    width:100%;
    max-width:700px;
    height:300px;
    object-fit:cover;
    border-radius:20px;
    box-shadow:0 10px 30px rgba(0,0,0,0.15);
}

h1{
    text-align:center;
    font-size:2rem;
}

.subtitle{
    text-align:center;
    margin-bottom:20px;
    color:#555;
}

#schedule{
    display:flex;
    gap:20px;
}

#days{
    width:200px;
    list-style:none;
    background:white;
    padding:10px;
    border-radius:12px;
    box-shadow:0 10px 25px rgba(0,0,0,0.08);
}

#days li{
    padding:10px;
    margin:5px 0;
    background:#f0f2ff;
    border-radius:8px;
    cursor:pointer;
    transition:.3s;
}

#days li:hover{
    background:#9be7c6;
    color:white;
}

#days li.active{
    background:#9be7c6;
    color:white;
    font-weight:bold;
}

/* DETAILS */
#schedule-details{
    flex:1;
    background:white;
    padding:20px;
    border-radius:12px;
    box-shadow:0 10px 25px rgba(0,0,0,0.08);
}

#day-name{
    color:#4fdda0;
    margin-bottom:15px;
}

#classes li,
#homework-list li{
    padding:10px;
    border-radius:8px;
    margin-bottom:8px;
    transition:.3s;
}

#classes li{
    background:#DBC8EA;
}

#homework-list li{
    background:#DBC8EA;
}

#classes li:hover,
#homework-list li:hover{
    transform:translateX(5px);
}

input, select{
    width:100%;
    padding:10px;
    margin:8px 0;
    border:1px solid #ccc;
    border-radius:8px;
}

button{
    width:100%;
    padding:12px;
    background:linear-gradient(90deg,#9be7c6,#C8EADB);
    color:white;
    border:none;
    border-radius:10px;
    cursor:pointer;
    font-weight:bold;
    transition:.3s;
}

button:hover{
    transform:translateY(-2px);
    box-shadow:0 5px 15px rgba(43,89,255,.3);
}

footer{
    text-align:center;
    padding:20px;
    margin-top:40px;
    background:#EADBC8;
    color:white;
}
p{
    text-align: center;
}

.schedule-image{
    width: 300px;
    height: 260px;
    border-radius: 100px;
}
